*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}

html{
    scroll-behavior: smooth;
}

/*HEADER*/

header{
    background-color: rgb(235, 235, 235);
    min-height: 80vh;
    max-width: 100%;
    background-size: contain;
}


header #especializaciones{
    color: white;
    z-index: 1;
    top: 90px;
    left: -150px;
}


/*HERO*/

header .hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header .hero .dev-location{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 50px;
    height: 700px;
    
}

header .menu-responsive{
    display: none;
}

header .hero #hero-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

header .hero #hero-text p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    opacity: 0;
}


header .hero #hero-text h1{
    font-size: 83px;
    color: black;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin: 0;
    opacity: 0;
}

header .hero #hero-text h2{
    font-size: 40px;
    color: grey;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    opacity: 0;
}

header .hero #hero-text h3{
    font-size: 20px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    opacity: 0;
}

header .hero #hero-text h4{
    font-size: 20px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    opacity: 0;
}

header .hero #hero-text .btn-dev{
    width: 30%;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    transition: transform 1s;
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    opacity: 0;
}

header .hero #hero-text .btn-dev:hover{
    transform: scale(1.1);
    transition: all 0.5 ease-in-out;
    transition-duration: 0.5s;
}

header .hero .dev-location .dev-nav{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    right: 0;
    margin: 25px;
}

header .hero .dev-location .dev-nav a{
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
}

header .hero .dev-location .dev-nav .under-animation{
    display: inline-block;
    position: relative;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

header .hero .dev-location .dev-nav .under-animation:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header .hero .dev-location .dev-nav .under-animation:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

header #especializaciones .cuadro-icon{
    font-size: 40px;
    background: -webkit-linear-gradient( rgb(255 255 255),rgb(3, 9, 65));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

header .hero .dev-location .hero-imagen{
    width: 40%;
}

header .hero .dev-location .hero-imagen img{
    width: 70%;
    border-radius: 100%;
    display: none;
}





/*SECTION DESCRIPCION*/

main.descripcion{
    background-color: #f7eee6;
    font-family: 'Lato', sans-serif;
    min-height: 80vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-size: cover;

}

main.descripcion .imagen-luis{
    /* background-color: grey; */
    height: 250px;
    width: 250px;
    margin: 30px;
    position: relative;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.descripcion .circulo{
    height: 150px;
    width: 200px;
    position: absolute;
}

main.descripcion .logo{
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../imgs/imagen-luis.jpeg);
    background-size: cover;
    border-radius: 50%;
    filter: brightness(1.5) contrast(1.5) grayscale(100%);
}

main.descripcion .text-imagen{
    position: absolute;
    color: black;
    font-size: 22px;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
}
main.descripcion .text-imagen p{
    position: relative;
    top: -26%;
}

@keyframes rotateText
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

main.descripcion .text-imagen span{
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 170px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/*Parte cuadro columna-informacion*/

main.descripcion .columna-informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

main.descripcion .cuadro-experiencia{
    font-size: 20px;
    color: black;
    max-width: 100%;
    background:transparent;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    margin-left: 20px;
}

main.descripcion .cuadro-experiencia .col-exp{
    width: 33.33%; 
    margin: 14px;
    text-align: center;
    border-radius: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

main.descripcion .cuadro-experiencia .col-exp:first-child{
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

main.descripcion .cuadro-experiencia .col-exp h2:first-child{
    text-align: center;

}

main.descripcion .cuadro-experiencia .col-exp h1{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

main.descripcion .cuadro-experiencia .col-exp h2{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

main.descripcion .cuadro-experiencia .col-exp{
    font-size: 20px;
}

main.descripcion .cuadro-experiencia .col-exp .icons{
    font-size: 50px;
}

main.descripcion .cuadro-experiencia .col-exp .lang{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

main.descripcion .cuadro-experiencia .col-exp .dot{
    opacity: 1;
    text-align: center;
    margin: 0.2rem 0.2rem;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 0.1rem #f7f6f6 solid;
    background-color: black;
}

main.descripcion .cuadro-experiencia .col-exp span{
    font-size: 14px;
    margin-right: 5px;
    font-weight: 900;
}
main.descripcion .cuadro-experiencia .col-exp span:last-child{
    margin-left: 0;
}

main.descripcion .cuadro-experiencia .col-exp p{
    font-size: 20px;
    font-weight: 300;
}



main.descripcion .wrapper-luis{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main.descripcion .container-luis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    max-width: 100%;
    background: transparent;
    border-radius: 20px;
    opacity: 0.8;
    margin: 30px;
    overflow: hidden;
}

main .container-luis h1{
    color:  black;
    font-weight: 300;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    transform: translateX(100vw);
}

main .container-luis h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transform: translateX(100vw);
}

main .container-luis p{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    transform: translateX(100vw);

}

main .container-luis #assets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateX(100vw);
}

main .container-luis #assets .asset-point{
    font-size: 18px;
    border: 1px solid black;
    padding: 4px;
    margin: 4px;
}

main .skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    transform: translateX(100vw);
}

main .skill-name{
    font-size: 14px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 20px 0;
}

main .skill-bar{
    height: 20px;
    background: grey;
    border-radius: 8px;
}

main .skill-per{
    height: 20px;
    background-color: #3d3d91;
    border-radius: 8px;
    width: 0%;
    transition: 1s linear;
    position: relative;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    background-color: black;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

main .container-luis .contact{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main .container-luis .contact a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    transition: transform 1s;
    margin: 20px;
    transform: translateX(100vw);
}


main .container-luis .contact a.btn-dev:hover{
    transform: scale(1.2);
    transition: all 0.5  ease-in-out;
    transition-duration: 1s;
}

main .container-luis .contact a.btn-secondary:hover{
    transform: scale(1.2);
    transition: all 0.5  ease-in-out;
    transition-duration: 1s;
}

/*PORTFOLIO*/

section.portfolio{
    background-color: rgb(235, 235, 235);
    min-height: 80vh;
    max-width: 100%;
    padding-top: 50px; 
    padding-left:150px ;
    padding-right: 150px; 
    padding-bottom: 50px; 
    overflow: hidden; 
}

section.portfolio h1{
    font-size: 60px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    transform: translateY(-500vw);
}

section.portfolio .wrapper-portfolio{
    width: 90%;
    max-width: 940px;
    margin: 20px auto;
    background-color: #fff;
    transform: translateY(-500vw);
    padding-top: 50px; 
    padding-left:150px ;
    padding-right: 150px; 
    padding-bottom: 50px
}

section.portfolio .wrapper-portfolio .examples{
    display: grid;
    grid-template-columns: 1fr 200px 1fr 1fr 1fr;
    grid-template-rows: 1fr 200px 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

section.portfolio .wrapper-portfolio .examples > *{
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333;
    color: #fff;
}

section.portfolio .wrapper-portfolio .examples .text{
    border-radius: 20px;
    background-color: #f7eee699;
}

section.portfolio .wrapper-portfolio .examples .text a{
    font-size: 30px;
    padding: 15px;
    background: -webkit-linear-gradient(rgb(138, 4, 4), rgb(100 94 60));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

section.portfolio .wrapper-portfolio .examples .coffee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/scshots/coffee.jpg);
    background-position: center;
    background-color: #f7eee6; 
    grid-column: 1/6;
    grid-row: 4/4;
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
}

section.portfolio .wrapper-portfolio .examples .travel{
    background-image: url(../imgs/scshots/travel.jpg);
    background-position: center;
    background-color: #f7eee6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/4;
    width: 250px;
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
}

section.portfolio .wrapper-portfolio .examples .store{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/scshots/store.jpg);
    background-position: center;
    background-color: #f7eee6; 
    grid-column: 2/6;
    grid-row: 2/4;
    color: black;
    font-family: 'Lato', sans-serif;
}


section.portfolio .wrapper-portfolio .examples .freelance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/scshots/freelance.jpg);
    background-position: center;
    background-color: #f7eee6;
    grid-column: 1/6;
    height: 250px;
    color: black;
    font-family: 'Lato', sans-serif;
    position: relative;
}

section.portfolio .wrapper-portfolio .examples .extra{
    background-color: #f7eee6; 
    color: #fff;
    width: 200px;
    grid-row: 3/5;
    height: 280px;
    color: black;
    font-family: 'Lato', sans-serif;
}

/*WRAPPER SERVICIOS*/

section.wrapper-servicios{
    min-height: 80vh;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .servicios-luis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section .servicios-luis h1{
    color: black;
    font-weight: 300;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    transform: translateX(-100vw);
}

section .servicios-luis .contenedor-servicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateX(-100vw);
}

section .servicios-luis .contenedor-servicios .servicio{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .servicios-luis .contenedor-servicios .servicio h3{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    max-height: 30px;
    
}

section .servicios-luis .contenedor-servicios .servicio p{
    font-size: 22px;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


section .servicios-luis .contenedor-servicios .servicio img{
    width: 70%;
}

.imagen-servicio{
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*FOOTER*/

footer .f-background{
    min-height: 50vh;
    max-width: 100%;
    background-color: rgb(235 235 235);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .f-main{
    background-color: #f7eee6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 40px;
    overflow: hidden;
}

footer .f-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .f-social p{
    font-size: 30px;
    color: black;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

footer .f-social span{
    font-size: 30px;
    color: rgb(167 121 121);
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}

footer .f-social h2{
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 35px;
    text-align: center;
}

footer .f-social .btn-social{
    font-size: 50px;
    color: black;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin: 0;
    text-decoration: none;
}

footer .f-social .f-iconos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
}

footer .f-social .f-iconos i{
    font-size: 50px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}



footer .f-privacy{
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-top: 60px;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1640px){
    header .hero #hero-text .btn-dev{
        width: 25%;
    }
}

@media screen and (max-width: 1600px){
    header .hero #hero-text .btn-dev{
        width: 26%;
    }
}



@media screen and (max-width: 1200px) {

    header .hero{
        padding-top: 100px;
    }

    header .hero #hero-text .btn-dev{
        width: 35%;
    }

    header .hero .dev-location{
        height: 600px;
    }

    header .hero .dev-location h2{
        font-size: 80px;
    }

    a.menu-responsive{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 50px;
        top: -210px;
        right: -260px;
        position: relative;
        z-index: 2000;
    }

    a.menu-responsive.open .barra1{
        transform: rotateZ(45deg);
        width: 68px;
    }

    a.menu-responsive.open .barra2{
        opacity: 0;
    }

    a.menu-responsive.open .barra3{
        transform: rotateZ(-45deg);
        width: 68px;
    }

    .menu-responsive .barra1{
        border: 1px solid black;
        width: 50px;
        transition: all 1s;
        transform-origin: bottom left;
    }

    .menu-responsive .barra2{
        border: 1px solid black;
        width: 50px;
        transition: all 1s;
    }

    .menu-responsive .barra3{
        border: 1px solid black;
        width: 50px;
        transition: all 1s;
        transform-origin: top left;
    }

    header nav .dev-nav{
        position: fixed;
        justify-content: flex-start;
        background-color: #f7eee6;
        width: 90vw;
        top: 0;
        z-index: 99;
        transform: translateX(1100px);
        transition: all 1s;
    }

    header nav .dev-nav.close-dev-nav{
        transform: translateX(0px);
        transition: all 1s;
    }

    header nav .dev-nav > a{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    main.descripcion .wrapper-luis{
        width: 57%;
    }

    main.descripcion .columna-informacion{
        width: 43%;
    }

    main.descripcion .cuadro-experiencia .col-exp p{
        font-size: 15px;
    }

    main .container-luis #assets .asset-point{
        font-size: 14px;
    }

    main.descripcion .cuadro-experiencia .col-exp .dot{
        margin: 0;
    }
}

@media screen and (max-width: 992px){
    a.menu-responsive{
        right: -208px;
    }

    header .hero #hero-text .btn-dev{
        width: 41%;
    }

    main .container-luis p{
        font-size: 25px;
    }

    main .container-luis h2{
        font-size: 25px;
    }
    main .container-luis #assets .asset-point{
        font-size: 12px;
    }

    main .container-luis .contact a{
        font-size: 18px;
    }

    main.descripcion .cuadro-experiencia .col-exp h2{
        font-size: 16px;
    }
}

@media screen and (max-width: 768px){
    header .hero{
        padding-top: 134px;
        padding-bottom: 150px;
    }

    a.menu-responsive{
        top: -215px;
        right: -142px;
    }

    header .hero #hero-text .btn-dev{
        width: 53%;
    }

    main .container-luis p{
        font-size: 18px;
    }

    main .container-luis h2{
        font-size: 18px;
    }
    main .container-luis #assets .asset-point{
        font-size: 14px;
    }

    main.descripcion{
        flex-wrap: wrap;
    }

    main.descripcion .columna-informacion{
        width: 100%;
        padding-top: 100px;
    }

    main.descripcion .wrapper-luis{
        width: 100%;
    }

    main .container-luis .contact a{
        font-size: 18px;
    }

    main.descripcion .imagen-luis{
        height: 200px;
        width: 200px;
    }

    main.descripcion .text-imagen{
        height: 126%;
    }

    main.descripcion .text-imagen p{
        top: -15%;
    }

    main.descripcion .text-imagen span{
        transform-origin: 0 143px;
    }

    main.descripcion .cuadro-experiencia .col-exp h2{
        font-size: 16px;
    }

    main.descripcion .cuadro-experiencia .col-exp{
        margin: 0;
    }

    main.descripcion .cuadro-experiencia .col-exp p{
        font-size: 20px;
    }

    main.descripcion .cuadro-experiencia .col-exp .dot{
        margin: 4px;
    }

    main .skills{
        width: 90%;
    }

    main .skill-name{
        margin: 8px 0;
        font-size: 10px;
    }

    main .skill-bar{
        height: 10px;
    }

    main .skill-per{
        height: 10px;
    }

    section.portfolio .wrapper-portfolio{
        padding: 0;
    }

    section .servicios-luis .contenedor-servicios{
        flex-wrap: wrap;
    }

    section .servicios-luis .contenedor-servicios .servicio h3{
        font-size: 50px;
        max-height: 40px;
    }

    section .servicios-luis .contenedor-servicios .servicio p{
        font-size: 25px;
    }
}

@media screen and (max-width: 576px){
    header .hero{
        padding-top: 200px;
    }

    a.menu-responsive{
        top: -770px;
        right: 135px;
    }

    header .hero .dev-location{
        flex-wrap: wrap;
    }

    header .hero #hero-text{
        width: 100%;
    }

    header .hero .dev-location .dev-nav{
        width: 30%;
    }

    header .hero #hero-text .btn-dev{
        width: 29%;
    }

    section.portfolio{
        padding: 0;
    }

    section.portfolio .wrapper-portfolio{
        padding: 0;
    }

    section.portfolio .wrapper-portfolio .examples .travel {
        width: 150px;
    }

    footer .f-social p{
        font-size: 20px;
        text-align: center;
        
    }

    footer .f-social span{
        font-size: 25px;
    }

    footer .f-privacy{
        font-size: 20px;
    }

}

@media screen and (max-width: 350px){
    header .hero{
        padding-bottom: 350px
    }

    header .hero #hero-text .btn-dev{
        width: 51%;
    }

    a.menu-responsive{
        top: -1000px;
        right: 78px;
    }

    header .hero .dev-location .dev-nav{
        width: 45%;
        margin: 0;
    }

    main.descripcion .cuadro-experiencia{
        flex-wrap: wrap;
    }

    main.descripcion .cuadro-experiencia .col-exp:first-child{
        width: 100%;
    }

    main.descripcion .cuadro-experiencia .col-exp{
        width: 100%;
    }

    main.descripcion .cuadro-experiencia .col-exp h2{
        font-size: 22px;
    }

    main .container-luis h1{
        text-align: center;
    }

    main .container-luis #assets{
        flex-wrap: wrap;
    }

    main .container-luis #assets .asset-point{
        width: 100%;
    }

    main .container-luis .contact a{
        font-size: 15px;
    }

    section.portfolio .wrapper-portfolio .examples .freelance{
        height: 188px;
    }

    section.portfolio .wrapper-portfolio .examples{
        grid-template-columns: 1fr 100px 1fr 1fr 1fr;
    }

    section.portfolio .wrapper-portfolio .examples .text a{
        font-size: 20px;
        text-align: center;
    }

    section .servicios-luis .contenedor-servicios .servicio h3{
        font-size: 34px;
        max-height: 29px;
    }

    footer .f-social .btn-social{
        font-size: 35px;
    }

    footer .f-social .f-iconos i{
        font-size: 30px;
    }

    footer .f-privacy{
        text-align: center;
    }
}







/* Animacion a contenedor HERO */


#hero-text.a-animation p{
    animation: hero-anim 1s 0s both;
}  
#hero-text.a-animation h1{
    animation: hero-anim 1s 0.2s both
} 
#hero-text.a-animation h2{
    animation: hero-anim 1s 0.4s both
} 
#hero-text.a-animation h3{
    animation: hero-anim 1s 0.6s both
}
#hero-text.a-animation h4{
    animation: hero-anim 1s 0.8s both
}  
#hero-text.a-animation a{
    animation: hero-anim 1s 1s both
} 

@keyframes hero-anim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*Animacion a contenedor descripcion*/


.container-luis.side-animation h1{
    animation: animate 1s 0.1s both;

}

.container-luis.side-animation p{
    animation: animate 1s 0.2s both;
}

.container-luis.side-animation h2{
    animation: animate 1s 0.3s both;
}


main .container-luis.side-animation #assets{
    animation: animate 1s 0.4s both;
}

.container-luis.side-animation .skills{
    animation: animate 1s 0.5s both;
}

.container-luis.side-animation .contact a{
    animation: animate 1s 0.6s both;
}

@keyframes animate {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }    
}


/*Animacion a contenedor Portfolio*/

section.portfolio.up-animation h1{
    animation: port-anim 1s 0.1s both;
}

section.portfolio.up-animation .wrapper-portfolio{
    animation: port-anim 1s 0.2s both;
}


@keyframes port-anim {
    0%{
        transform: translateY(-500vw);
    }
    100%{
        transform: translateY(0);
    }    
}

/*Animacion a contenedor Servicios*/

section .servicios-luis.left-animation h1{
    animation: serv-anim 1s 0.2s both;
}

section .servicios-luis.left-animation .contenedor-servicios{
    animation: serv-anim 1s 0.4s both;
}

@keyframes serv-anim {
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0);
    }
}

/*Animacion a Footer*/

footer .f-social.spam-animation p{
    animation: serv-anim 1s 0.2s both;
}

footer .f-social.spam-animation span{
    animation: foot-anim 2s 1s both;
}

    @keyframes foot-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    } 

