*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}

html{
    scroll-behavior: smooth;
}

/*HEADER*/

header{
    background-color: #06b4b7;
    background-image: linear-gradient(315deg, #0f6768 0%, #7200dc 100%);
    min-height: 80vh;
    max-width: 100%;
    background-size: contain;
}

/* header .navbar{
    height: 80px;
    background-color: transparent;    
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

header .navbar a{
    text-decoration: none;
    color: white;
}

header .navbar .nav-logo{
    margin: 0;
}

header .navbar .nav-links{
    padding: 15px;
}

header .navbar .nav-links a{
    padding: 15px;
}

.nav-links a:hover{
    background-color: rgb(122, 16, 192);
    transition: all 0.5s ease-in-out;
    border-radius: 15px;
} */

header #especializaciones{
    color: white;
    z-index: 1;
    top: 90px;
    left: -150px;
    position: relative;
}




/*HERO*/

header .hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

header .hero .dev-location{
    background-image: url(../imgs/simon-fitall-xknt_wcgPus-unsplash.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 50px;
    height: 700px;
    position: relative;
}

header .hero .dev-location video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    margin-bottom: 50px;
}

header .hero .dev-location h1{
    font-size: 70px;
    z-index: 1;
    top: 0;
    left: -202px;
    position: relative;
    text-align: left;
    color: white;
    padding: 10px;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}

header .hero .dev-location h2{
    font-size: 100px;
    z-index: 1;
    top: -50px;
    left: -220px;
    position: relative;
    text-align: left;
    background: -webkit-linear-gradient( rgb(255 255 255),rgb(237 237 237));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    margin: 0;
    font-family: 'Bebas Neue';
}

header .hero .dev-location h3{
    font-size: 40px;
    z-index: 1;

    left: -250px;
    position: relative;
    text-align: left;
    color: yellow;
    padding: 10px;
    margin: 0;
    font-family: 'Bebas Neue';
    transform: rotate(270deg);
}

header .hero .dev-location .dev-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
}

header .hero .dev-location .dev-nav a{
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
}

header .hero .dev-location .dev-nav .under-animation{
    display: inline-block;
    position: relative;
    background: -webkit-linear-gradient( rgb(255 255 255),rgb(237 237 237));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lato', sans-serif;
}

header .hero .dev-location .dev-nav .under-animation:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header .hero .dev-location .dev-nav .under-animation:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

header #especializaciones .cuadro-icon{
    font-size: 40px;
    background: -webkit-linear-gradient( rgb(255 255 255),rgb(3, 9, 65));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}




/*SECTION DESCRIPCION*/

main.descripcion{
    background-image: linear-gradient(-60deg,rgb(45, 20, 83) 50%, rgb(57 22 125) 50%);
    animation:slide 3s ease-in-out infinite alternate;
    background-position: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    min-height: 80vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-size: cover;

}

main.descripcion .imagen-luis{
    /* background-color: grey; */
    height: 250px;
    width: 250px;
    margin: 30px;
    position: relative;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.descripcion .circulo{
    height: 150px;
    width: 200px;
    background-color: red;
    position: absolute;
}

main.descripcion .logo{
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../imgs/imagen-luis.jpeg);
    background-size: cover;
    border-radius: 50%;
    filter: brightness(1.5) contrast(1.5) grayscale(100%);
}

main.descripcion .text-imagen{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 22px;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
}
main.descripcion .text-imagen p{
    position: relative;
    top: -26%;
}

@keyframes rotateText
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

main.descripcion .text-imagen span{
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 170px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/*Parte cuadro columna-informacion*/

main.descripcion .columna-informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

main.descripcion .cuadro-experiencia{
    font-size: 20px;
    color: honeydew;
    max-width: 100%;
    background:transparent;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    margin-left: 20px;
}

main.descripcion .cuadro-experiencia .col-exp{
    height: 300px;
    width: 33.33%; 
    background: #3f393996;
    margin: 14px;
    text-align: center;
    border-radius: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    transition: transform 0.5s;
}

main.descripcion .col-exp:hover{
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
}

main.descripcion .cuadro-experiencia .col-exp:first-child{
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

main.descripcion .cuadro-experiencia .col-exp h2:first-child{
    text-align: center;

}

main.descripcion .cuadro-experiencia .col-exp h1{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

main.descripcion .cuadro-experiencia .col-exp h2{
    font-size: 20px;
}

main.descripcion .cuadro-experiencia .col-exp{
    font-size: 18px;
}

main.descripcion .cuadro-experiencia .col-exp .icons{
    font-size: 30px;
}

main.descripcion .cuadro-experiencia .col-exp .lang{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

main.descripcion .cuadro-experiencia .col-exp .dot{
    opacity: 1;
    text-align: center;
    margin: 0.2rem 0.2rem;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 0.1rem #f7f6f6 solid;
    background-color: white;
}

main.descripcion .cuadro-experiencia .col-exp span{
    font-size: 14px;
    margin-right: 5px;
}
main.descripcion .cuadro-experiencia .col-exp span:last-child{
    margin-left: 0;
}

main.descripcion .cuadro-experiencia .col-exp p{
    font-size: 15px;
}



main.descripcion .wrapper-luis{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main.descripcion .container-luis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    max-width: 100%;
    height: 500px;
    background: transparent;
    border-radius: 20px;
    opacity: 0.8;
    margin: 30px;
}


main .container-luis h2{
    font-size: 60px;
    background: -webkit-linear-gradient( rgb(255 255 255),rgb(237 237 237));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

main .skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

main .skill-name{
    font-size: 14px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}

main .skill-bar{
    height: 20px;
    background: grey;
    border-radius: 8px;
}

main .skill-per{
    height: 20px;
    background-color: aqua;
    border-radius: 8px;
    width: 0%;
    transition: 1s linear;
    position: relative;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    background-color: black;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

main .container-luis .contact{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main .container-luis .contact a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    transition: transform 1s;
    margin: 20px;
}


main .container-luis .contact a.btn-dev:hover{
    transform: scale(1.2);
    transition: all 0.5  ease-in-out;
    transition-duration: 1s;
    background: #11141a;
}

main .container-luis .contact a.btn-secondary:hover{
    transform: scale(1.2);
    transition: all 0.5  ease-in-out;
    transition-duration: 1s;
    background: #11141a;
}


/*WRAPPER SERVICIOS*/

section.wrapper-servicios{
    min-height: 80vh;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .servicios-luis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .servicios-luis h2{
    font-size: 50px;
    text-align: center;
}

section .servicios-luis .contenedor-servicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section .servicios-luis .contenedor-servicios .servicio{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .servicios-luis .contenedor-servicios .servicio h3{
    font-size: 30px;
    height: 50px;
    
}

section .servicios-luis .contenedor-servicios .servicio p{
    height: 50px;
}


section .servicios-luis .contenedor-servicios .servicio img{
    width: 70%;
}

/*FOOTER*/

footer .f-background{
    min-height: 80vh;
    max-width: 100%;
    background-color: #c3bee7;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .f-main{
    background-image: url(../imgs/—Pngtree—geometric\ purple\ background\ with\ modern_1243070.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    border: 2px solid black;
    margin: 40px
}

footer .f-partner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .f-partner h2{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 40px;
    margin: 0;
    text-align: center;
}

footer .f-partner p{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 25px;
}


footer .f-social h2{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 35px;
    text-align: center;
}

footer .f-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .f-social .f-iconos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
}

footer .f-social .f-iconos i{
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(75, 12, 158), rgb(236, 92, 236));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
}

footer .f-privacy{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: 60px;
}

footer .f-campos{
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 25px;
    border-radius: 25px;
}

footer .f-campos .campo{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

footer .f-campos .campo input{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    width: 100%;
    height: 50%;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}

footer .f-campos .campo label{
    font-size: 20px;
}

footer .f-campos .campo textarea{
    width: 100%;
    height: 50%;
}

footer .f-partner .f-campos .boton-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .f-partner .f-campos .btn-cont{
    width: 30%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 2px outset white;
    padding: 12px;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin: 25px;
}

footer .f-partner .f-campos .btn-cont:hover{
    
}



/*MEDIA QUERIES*/



@media screen and (max-width: 1200px) {

    header .hero .dev-location{
        height: 600px;
    }

    header .hero .dev-location h2{
        font-size: 80px;
    }

    header .hero .dev-location .dev-nav .under-animation{
        font-size: 15px;
        font-weight: 700;
    }
}